@{
    ViewData["Title"] = "Home Page";
}


@* <partial name="_CategoryList" /> *@
<div class="mainApp">
    <h1>Budget Tracker</h1>
    <h3>Transactions</h3>
    <div class="functionBar">
    </div>
    <div id="transactionTable">
        <table class="table table-hover">
            <tbody id="transactionList"></tbody>
        </table>
        <div class="pagination" id="pagination">

        </div>
    </div>
</div>
