@{
    ViewData["Title"] = "Home Page";
}


@* <partial name="_CategoryList" /> *@

<div id="transactionTable">
    <table class="table">
        <tbody id="transactionList"></tbody>
    </table>
</div>